body {
    margin: 0;
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=1060&t=st=1693589294~exp=1693589894~hmac=94b6fbb1b507d7e878f05ee5e91c852c7fedde24f41a328c5c87d511f69fb82c");
    background-size: cover;
    transition: filter 0.7s;
}

.main-container h1 {
    text-transform: uppercase;
    color: antiquewhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 1opx;
    border: none;
    background-color: black;
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.btn:hover {
    filter: brightness(0.8);
}

.active.main-container {
    filter: blur(5px) brightness(0.7);
}

.popup-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: azure;
    width: 400px;
    height: 200px;
    top: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: url("https://c0.wallpaperflare.com/preview/187/633/72/5be997aec83a2.jpg");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba((0), 0, 0, 0.3);
    opacity: 1;
    transition: all 0.7s;
}

h4 {
    font-size: 30px;
    margin: 10px 0;
    font-family: sans-serif;
    color: black;
}

.popup-btn {
    background-color: aqua;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid;
    border-radius: 10px;
}

.input {
    border: 2px solid;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.input::placeholder {
    color: lightgray;
}

.close-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
    color: white;
}

.close-icon:hover {
    color: orangered;
}

.active.popup-container {
    visibility: hidden;
    opacity: 0;
    top: 10%;
}