body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: beige;
    font-family: "Poppins";
}

.main {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: lightblue;
    border-radius: 5%;
    padding: 20px;
    margin: 10px;
}

.answer {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border: solid;
    font-weight: bold;
}

.answer::placeholder {
    color: lightgray;
}

.btn {
    background-color: green;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    filter: brightness(0.9);
}

.score {
    text-transform: capitalize;
    color: green;
    text-align: right;
    font-weight: bolder;
}

.score-num {
    color: whitesmoke;
}

.question {
    text-align: center;
}