body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    height: 100vh;
    font-family: "Helvetica Neue", sans-serif;
    background-color: #f4f4f4;
}

.calculator {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    background-color: #f0f0f0;
    padding: 10px;
}

.display input {
    width: calc(100% - 20px);
    padding: 8px;
    box-sizing: border-box;
    font-size: 1.5em;
    border: none;
    outline: none;
    background-color: #f0f0f0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    outline: none;
}

button:hover {
    background-color: #ddd;
}

.operator {
    background-color: #ff9500;
    color: #fff;
}

.number {
    background-color: #d4d4d2;
}

.equal {
    background-color: #4cd964;
    color: #fff;
    /* grid-column: span 2; */
}

.clear {
    background-color: #ff3b30;
    color: #fff;
    grid-column: span 3;
    border: #ccc solid 0.1px;
}

.delete {
    background-color: #ff3b30;
}