@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@1&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: wheat;
    font-family: 'Fruktur', cursive;
}