body {
    margin: 0;
    height: 100vh;
    width: 100wh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "poppins";
    flex-direction: column;
}

.main {
    margin: 0%;
    height: 600px;
    width: 700px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    border: solid 5px green;
    min-width: 700px;
}

.killer-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50px;
    overflow: hidden;
}

.killer-one {
    height: 40%;
    width: 100%;
    background-color: blueviolet;
}

.killer-two {
    height: 40%;
    width: 100%;
    background-color: blueviolet;
}

.ball {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: red;
    position: absolute;
    top: 44%;
    left: 45.5%;
}